

{# ne sert à rien #}


{% block sidebar %}

    <!-- Navbar gauche -->
      <div class="col-lg-4 col-md-4 col-sm-4">
        <nav class="nav flex-column bg-dark">
          <a class="nav-link" href="#">Business, Economics & Management</a>
          <a class="nav-link" href="#">Engineering & Computer Science</a>
          <a class="nav-link" href="#">Humanities, Litterature & Arts</a>
          <a class="nav-link" href="#">Chemical & Material Science</a>
          <a class="nav-link" href="#">Health & Medical Sciences</a>
          <a class="nav-link" href="#">Life Sciences & Earth Sciences</a>
        </nav>
      </div>
{% endblock %}
