{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}
    <div class="container">
        {% for categorie in categories %}
            {% include 'recherche/_affiche.html.twig' with {recherche: recherche} only %}
        {% endfor %}
    </div>
{% endblock %}
