{% extends 'base.html.twig' %}

{% block content %}

    <div class="jumbotron txt-center">
        <h1>Classement des Revues du CNRS</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rang in classement %}
                            <tr>
                                <th scope="row"></th>
                                <td>{{ rang.id_revue }}</td>
                                <td>{{ rang.annee_classement }}</td>
                                <td>{{ rang.classement_revue }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}